/* Estilo base */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

h2 {
    color: #333;
}

/* Tema oscuro */
.dark-theme {
    color: #fff;
    background-color: #333;
}

.dark-theme header {
    background-color: #222;
}

.dark-theme h2 {
    color: #fff;
}

/* Otros estilos según sea necesario */
/* Estilo base */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

h2 {
    color: #333;
}

/* Tema oscuro */
.dark-theme {
    color: #fff;
    background-color: #333;
}

.dark-theme header {
    background-color: #222;
}

.dark-theme h2 {
    color: #fff;
}

/* Otros estilos según sea necesario */
